.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    background-color: #dbebf2;
    background-image: url("../../img/banner-desktop@1x.jpg");
    background-position: bottom left -320px;

    height: 158px;

    overflow: hidden;
}

.banner--main {
    background-position: center top;
    height: 390px;
}

.banner__text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 32%;
    fill: #FFFFFF;
}

.banner__text--blue {
    fill: #81B3D3;
}

.banner__text--brown {
    fill: #766458;
}

.banner__sepparator {
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);

    fill: #FFFFFF;
}