.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    height: 158px;

    background-color: #dbebf2;
    background-image: url("../../img/banner-desktop@1x.jpg");
    background-position: bottom right;

    overflow: hidden;
}

.banner--main {
    background-position: center top;
    height: 390px;
}

.banner__text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 32%;

    width: 230px;

    fill: #FFFFFF;
}

.banner__text--main {
    width: 280px;
}

.banner__text--blue {
    fill: #81B3D3;
}

.banner__text--brown {
    fill: #766458;
}

.banner__sepparator {
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);

    fill: #FFFFFF;
}

@media (min-width: 768px) {
    .banner {
        height: 302px;
    }

    .banner--main {
        height: 518px;
    }

    .banner__text {
        width: 468px;
    }

    .banner__text--main {
        top: 15%;
        width: 460px;
    }
}