.banner {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #dbebf2;
    background-image: url("img/banner-desktop@1x.jpg");
    background-position: center;

    height: 389px;
    width: 320px;
}

.banner__text {
    fill: #FFFFFF;
}

.banner__text--blue {
    fill: #81B3D3;
}

.banner__text--brown {
    fill: #766458;
}