.form-checkbox {
    display: flex;
    width: 56px;
    height: 56px;
    margin-right: 22px;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}

.form-checkbox__image {
    display: none;
    fill: #000000;
}

.form-item__input:checked+.form-checkbox>.form-checkbox__image {
    display: inherit;
}