.form-list__item:not(:last-child) {
    margin-bottom: 20px;
} 

@media (min-width: 768px) {
    .form-list--impression {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .form-list__item--attractions {
        flex-basis: 50%;
        margin-bottom: 32px;
    }

    .form-list__item:not(:last-child) {
        margin-bottom: 32px;
    }
}

@media (min-width: 1200px) {
    .form-list--contacts {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .form-list__item--contacts:not(:last-child) {
        flex-basis: 50%;
        margin: 0;
    }

    .form-list__item--attractions {
        flex-basis: 25%;
    }
}