.interest {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 38px 20px 48px;
}

.interest__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.interest__header {
    display: block;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 24px;
}

.interest__description {
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 24px;
}

.interest__button {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

@media (min-width: 768px) {
    .interest {
        padding: 58px 0 60px;
    }

    .interest__wrapper {
        width: 458px;    
    }

    .interest__header {
        font-size: 30px;
        margin-bottom: 32px;
    }

    .interest__description {
        margin-bottom: 36px;
    }
}