.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.logo__image-border {
    visibility: hidden;
}

@media (min-width: 1200px) {
    .logo__image-border {
        visibility: visible;
    }
}