.menu-item {
    position: relative;
}

.menu-item:not(:last-child)::after {
    content: "";
    background-color: #D6D6D6;
    bottom: 0;
    position: absolute;
    left: 0px;
    right: 0px;
    height: 1px;
}

.menu-item__link {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #ffffff;

    height: 56px;
    width: 100%;
}

.menu-item__text {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100vw;
}

@media (min-width: 768px) {
    .menu-item {
        width: 20%;
        margin: 0;
    }

    .menu-item:not(:last-child)::after {
        display: none;
    }

    .menu-item:nth-child(2) {
        margin-right: auto;
    }

    .menu-item__link {
        color: #000000;
    }
}