.menu-item__link {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #81B3D2;

    color: #ffffff;

    height: 56px;
    width: 100%;
}

.menu-item__text {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: calc(100vw - 36px);
}