.reason-card__main {
    padding: 36px 20px;
}

.reason-card__main--blue {
    background-color: #81B3D2;
    color: #ffffff;
}

.reason-card__main--gray {
    background-color: #eeeeee;
    padding: 36px 24px;
}

.reason-card__header {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 14px;
}

.reason-card__header--white {
    color: #ffffff;
}

.reason-card__number {
    margin-bottom: 14px;
}

.reason-card__image {
    background-position: center;
    background-size: cover;
    height: 260px;
}

.reason-card__image--city {
    background-color: #dfd6d8;
    background-image: url("../../img/photo-city@1x.jpg");
}

.reason-card__image--bridge {
    background-color: #e2b29b;
    background-image: url("../../img/photo-bridge@1x.jpg");
}

@media (min-width: 768px) {
    .reason-card {
        width: 100%;
    }

    .reason-card__main {
        height: 256px;
        padding: 40px 32px 0;
    }

    .reason-card__header {
        font-size: 21px;
    }

    .reason-card__wrapper {
        display: flex;
        flex-direction: row;
        flex-shrink: 0;
    }

    .reason-card__wrapper--reverse {
        flex-direction: row-reverse;
    }

    .reason-card__main--blue {
        width: 33%;
    }

    .reason-card__image {
        width: 67%;
        height: 256px;
    }
}