.reason-item__delimitered {
    position: relative;
}

.reason-item__delimitered:not(:last-child)::after {
    content: "";
    background-color: #D6D6D6;
    bottom: 0;
    position: absolute;
    left: 20px;
    right: 20px;
    height: 1px;
}

@media (min-width:768px) {
    .reason-item--big {
        flex-basis: 100%;
    }

    .reason-item--short {
        flex-basis: calc(100% / 3);
    }

    .reason-item__delimitered::after {
        display: none;
    }
}