.reason-subitem-card {
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    width: 100%;
}

.reason-subitem-card__wrapper {
    height: 40px;
    width: 40px;
    margin-right: 12px;
}

.reason-subitem-card__content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 230px;

    margin-top: 6px;
}

.reason-subitem-card__header {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;

    margin-bottom: 16px;
}

.reason-subitem-card__image {
    fill: #81B3D2;
    flex-shrink: 0;
}