.social-networks-item__link {
    display: flex;
    background-color: #81B3D2;
    height: 48px;
    width: 48px;

    justify-content: center;
    align-items: center;
}

.social-networks-item__icon {
    fill: #FFFFFF;
}

.social-networks-item__link:hover {
    background-color: #669EC0;
}

.social-networks-item__link:active {
    background-color: #5496BD;
}

.social-networks-item__link:active .social-networks-item__icon {
    opacity: 0.3;
}