.input__text {
    height: 58px;
    width: 100%;
    padding-left: 22px;
    background-color: #f2f2f2;
    line-height: 26px;
    font-size: 18px;
    font-weight: 700;
}

.input__text::placeholder {
    color: #000000;
    line-height: 26px;
    font-size: 18px;
    font-weight: 700;
}

.input__textarea {
    height: 160px;
    width: 100%;
    padding: 18px 22px 14px;
    background-color: #f2f2f2;
    resize: vertical;
    line-height: 26px;
    font-size: 18px;
    font-weight: 700;
    min-height: 160px;
}

.input__textarea::placeholder {
    color: #000000;
    line-height: 26px;
    font-size: 18px;
}

.input__text:focus {
    border: 4px solid #E5E5E5;
    background-color: #FFFFFF;
}

.input__textarea:focus {
    border: 4px solid #E5E5E5;
    background-color: #FFFFFF;
}

@media (min-width: 1200px) {
    .input__textarea:hover {
        background: #E5E5E5;
    }
}