a {
    color: #333;
    cursor: pointer;
    text-decoration: none;
}

button {
    font-family: inherit;
    text-transform: inherit;
    background-color: inherit;
    line-height: inherit;
    border: inherit;
}

h1 {
    display: inherit;
    font-weight: inherit;
    font-size: inherit;
    margin-block-start: inherit;
    margin-block-end: inherit;
    margin-inline-start: inherit;
    margin-inline-end: inherit;
}

h2 {
    display: inherit;
    font-weight: inherit;
    font-size: inherit;
    margin-block-start: inherit;
    margin-block-end: inherit;
    margin-inline-start: inherit;
    margin-inline-end: inherit;
}

h3 {
    display: inherit;
    font-weight: inherit;
    font-size: inherit;
    margin-block-start: inherit;
    margin-block-end: inherit;
    margin-inline-start: inherit;
    margin-inline-end: inherit;
}

ol {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

ul {
    display: inherit;
    list-style-type: none;
    margin-block-start: inherit;
    margin-block-end: inherit;
    margin-inline-start: inherit;
    margin-inline-end: inherit;
    padding-inline-start: inherit;
}

li {
    display: inherit;
    list-style: none;
    text-align: inherit;
}