a {
    color: #333;
    cursor: pointer;
    text-decoration: none;
}

ol li {
    list-style: none;
    text-align: inherit;
}

ul {
    list-style-type: none;
}

button {
    font-family: inherit;
    text-transform: inherit;
    background-color: inherit;
    line-height: inherit;
    border: inherit;
}